@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&display=swap");
.chatbot {
  box-shadow: 0 -6px 60px -17px rgba(0, 0, 0, 0.68);
  border-radius: 10px;
  width: min(400px, 100%);
  margin-inline: auto;
}

.chatbot__header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1274e0;
  height: 54px;
  padding: 0 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.chatbot__header p {
  margin-right: 20px;
}
.chatbot__header:hover {
  background-color: #368eef;
}

.chatbot__close-button {
  fill: #fff;
}
.chatbot__close-button.icon-close {
  fill: #1274e0;
  width: 14px;
}
.chatbot__close-button.icon-leave {
  width: 30px;
}

.chatbot__message-window {
  height: calc(100dvh - (54px + 60px));
  padding: 40px 20px 20px;
  background-color: #fff;
  overflow-x: none;
  overflow-y: auto;
}
.chatbot__message-window::-webkit-scrollbar {
  display: none;
}

.chatbot__messages {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
}
.chatbot__messages li {
  margin-bottom: 20px;
}
.chatbot__messages li.is-ai {
  display: inline-flex;
  align-items: flex-start;
}
.chatbot__messages li.is-user {
  text-align: right;
  display: inline-flex;
  align-self: flex-end;
}
.chatbot__messages li .is-ai__profile-picture {
  margin-right: 8px;
}
.chatbot__messages li .is-ai__profile-picture .icon-avatar {
  width: 40px;
  height: 40px;
  padding-top: 6px;
}

.chatbot__message {
  display: inline-block;
  padding: 12px 20px;
  word-break: break-word;
  margin: 0;
  border-radius: 6px;
  letter-spacing: -0.01em;
  line-height: 1.45;
  text-align: justify;
  overflow: hidden;
  position: relative;
  font-weight: 600;
}
.is-ai .chatbot__message {
  background-color: #f0f0f0;
  margin-right: 30px;
}
.is-user .chatbot__message {
  background-color: #7ee0d2;
  margin-left: 30px;
}
.chatbot__message a {
  color: rgba(18, 117, 224, 0.7607843137);
  word-break: break-all;
  display: inline-block;
}
.chatbot__message p:first-child {
  margin-top: 0;
}
.chatbot__message p:last-child {
  margin-bottom: 0;
}
.chatbot__message button {
  background-color: #fff;
  font-weight: 300;
  border: 2px solid rgba(18, 117, 224, 0.7607843137);
  border-radius: 50px;
  padding: 8px 20px;
  margin: -8px 10px 18px 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.chatbot__message button:hover {
  background-color: #f2f2f2;
}
.chatbot__message button:focus {
  outline: none;
}
.chatbot__message img {
  max-width: 100%;
}
.chatbot__message .card {
  background-color: #fff;
  text-decoration: none;
  overflow: hidden;
  border-radius: 6px;
  color: black;
  word-break: normal;
}
.chatbot__message .card .card-content {
  padding: 20px;
}
.chatbot__message .card .card-title {
  margin-top: 0;
}
.chatbot__message .card .card-button {
  color: rgba(18, 117, 224, 0.7607843137);
  text-decoration: underline;
}
.chatbot__message .chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.chatbot__message .chat-info .username,
.chatbot__message .chat-info .time-stamp {
  font-size: 10px;
  font-weight: 900;
  color: #1274e0;
  text-transform: uppercase;
}

.chatbot__arrow {
  width: 0;
  height: 0;
  margin-top: 18px;
}

.chatbot__arrow--right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #7ee0d2;
}

.chatbot__arrow--left {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #f0f0f0;
}

.chatbot__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  border-top: 1px solid #e6eaee;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.chatbot--closed .chatbot__entry {
  display: none;
}

.chatbot__input {
  height: 100%;
  width: 80%;
  border: 0;
}
.chatbot__input:focus {
  outline: none;
}
.chatbot__input::-webkit-input-placeholder {
  color: #7f7f7f;
}
.chatbot__input::-moz-placeholder {
  color: #7f7f7f;
}
.chatbot__input::-ms-input-placeholder {
  color: #7f7f7f;
}
.chatbot__input::-moz-placeholder {
  color: #7f7f7f;
}

.chatbot__submit {
  fill: rgba(18, 117, 224, 0.7607843137);
  height: 22px;
  width: 22px;
  transition: fill 0.2s ease;
  cursor: pointer;
}
.chatbot__submit:hover {
  fill: rgba(10, 68, 130, 0.7607843137);
}

.u-text-highlight {
  color: #7ee0d2;
}

.loader {
  margin-bottom: -2px;
  text-align: center;
  opacity: 0.3;
}

.loader__dot {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  background: black;
  border-radius: 50px;
  animation: loader 0.45s infinite alternate;
}
.loader__dot:nth-of-type(2) {
  animation-delay: 0.15s;
}
.loader__dot:nth-of-type(3) {
  animation-delay: 0.35s;
}

@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #ffffff;
  width: min(500px, 90%);
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.confirm-modal-container {
  align-items: flex-start;
}

.confirm-modal {
  margin-top: 30px;
  padding: 10px;
}

.confirm-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.confirm-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-btn {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #1274e0;
  cursor: pointer;
}

.confirm-btn button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.confirm-yes {
  background-color: #1274e0;
}

.confirm-no {
  background-color: red;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.8;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input {
  font-family: "Open Sans", sans-serif;
}

strong {
  font-weight: 600;
}

.intro {
  display: block;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */